body {
  font: 13px/18px sans-serif;
  color: #333;
  background-color: #fff;
  padding: 16px;
}

div {
  box-sizing: border-box;
  padding: 16px;
  width: 33%;
  float: left;
}

h1 {
  margin: 0 0 0 16px;
  padding: 0 0 16px;
  border-bottom: 4px solid #333;
}

li {
  list-style: none;
  padding: 0 0 0 16px;
  position: relative;
}

li:before {
  display: block;
  content: '-';
  font-weight: bold;
  position: absolute;
  top: -2px;
  left: 0;
  font-size: 24px;
}

span {
  color: #999;
  font-size: 9px;
}

span + span {
  font-size: 11px;
  line-height: 13px;
  display: block;
  position: relative;
  top: -2px;
}
